<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome,IGNATIUS</h1>
    <a href="/admin/dashboard">DashBoard</a>
<!--     
    <table style="width:25px">
    <tr>
        <td>Email</td>
        <td></td>

    </tr>
    
    <tr>
        <td>Mobile</td>
        <td></td>

    </tr>
</table> -->

    <a href="/admin/logout">logout</a>
</body>
</html>